body,html {
	margin:0;
	height:100%;
	width:100%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 11pt;
}

#map {
	height: 100%;
}

body {
    display: grid;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 250px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content";
}

.header {
	grid-area: header;
	padding:10px;
    background-color: rgb(66, 104, 124);
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    
}
.sidebar {
	grid-area: sidebar;
	padding:10px;
    background-color: rgb(132, 165, 184);
	color: white;
}
.content {
	grid-area: content;
	padding: 50px;
}

.sidebar-item {
	color: #fff;
	border: 10px solid rgb(132, 165, 184);
	background-image: -webkit-linear-gradient(30deg, rgb(66, 104, 124) 50%, transparent 50%);
	background-image: linear-gradient(30deg, rgb(66, 104, 124) 50%, transparent 50%);
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: 0%;
	
  }
  .sidebar-item:hover {
	background-position: 100%;
	color: #fff;
  }

